/**
 * Style for Cloudy theme
 *
 * Use this stylesheet to customize the display of your site.
 * To learn more about CSS visit http: //www.w3.org/TR/REC-CSS2/
 *
 * phpGedView: Genealogy Viewer
 * Copyright (C) 2002 to 2022  PGV Development Team.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
 *
 * @package PhpGedView
 * @subpackage Themes
 * @version $Id$
 */


.something {
/*empty style to make sure that the BODY style is not ignored */
}

html {
	padding: 3px; margin: 0;
}

body {
	color: #000066;
	background-color: #c8e7ff;
	background-image: url('images/background.jpg');
	background-attachment: fixed;
	background-position: top left;
	background-repeat: repeat-x;
	font: 11px tahoma, arial, helvetica, sans-serif;
}

fieldset {
	margin: 8px 8px 4px 8px;
}

legend {
	font-weight: bold;
}

ul {
	list-style: url(images/li.gif);
}

.blockcontent {
	margin-left: auto;
	border: 1pt solid #999;
	margin-right: 5px;
	margin-bottom: 10px;
	font-size: 12px;
}

#content {
	width: auto;
	background: white;
}

#header {
}

#footer {
	text-align: left;
}

#container {
	border: 1px solid #003399;
	background: white;
	padding: 0px;
}

#cellcontainer {
	display: table;
	margin: 0;
	padding: 0;
}

#index_main_blocks {
	clear: none;
	width: 66%;
	float: left;
}

#index_small_blocks {
	clear: none;
	width: 33%;
	float: right;
}

#index_full_blocks {
	clear: none;
	width: 100%;
}

#index_small_blocks .blockheader {
	width: 100%;
	caption-side: top;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#index_small_blocks .blockh2 {
	width: auto;
}

#index_small_blocks .blockhc .help .icon {
	text-align: right;
	position: relative;
	top: 3px;
}

#index_small_blocks .blockhc .adminicon {
	text-align: right;
	position: relative;
	top: 3px;
}

#index_small_blocks .blockcontent {
	width: auto;
	caption-side: right;
	margin-right: 2px;
}

#index_main_blocks .blockheader {
	caption-side: left;
}

#index_main_blocks .blockh2 {
	white-space: nowrap;
	overflow: hidden;
}

#index_small_blocks .blockhc {
	white-space: nowrap;
	overflow: hidden;
}

#index_main_blocks .blockh2 .icon {
	text-align: right;
	position: relative;
	top: 3px;
}

#index_main_blocks .blockh2 .adminicon {
	text-align: right;
	position: relative;
	top: 3px;
}

#index_main_blocks .blockcontent {
	padding: 5px;
	margin-left: 0;
	margin-right: 2px;
}

.small_inner_block {
	overflow: auto;
	font: normal 10px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	max-height: 160px;
	width: auto;
	padding: 0pt 5px 0pt 5px;
}

.normal_inner_block {
	overflow: auto;
}

.blockheader {
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
	height: 25px;
	line-height: 25px;
	vertical-align: top;
	width: 100%;
}

.blockh1 {
	background-image: url(images/left1B.gif);
	background-repeat: no-repeat;
	width: 26px;
	height: 24px;
	margin: 0;
}

.blockh2 {
	background-image: url(images/left2.gif);
	background-repeat: repeat-x;
	font: bold 13px tahoma, arial, helvetica, sans-serif;
	height: 24px;
	line-height: 25px;
	margin: 0;
}

.blockh3 {
	background-image: url(images/left3.gif);
	background-repeat: no-repeat;
	width: 8px;
	height: 24px;
	margin: 0;
}

.blockhc {
	height: 25px;
	padding-right: 15px;
	padding-left: 5px;
	overflow: hidden;
}

#login_block .blockh1 {
	background-image: url(images/left1G.gif);
}

#logout_block .blockh1 {
	background-image: url(images/left1R.gif);
}

#index_small_blocks .name1 {
	font: bold 10px tahoma, arial, helvetica, sans-serif;
	color: #003399;
}

/* exclude thumbs */
#index_small_blocks .person_box .pedigree_image_portrait, #index_small_blocks .person_boxF .pedigree_image_portrait,
#index_small_blocks .person_boxNN .pedigree_image_portrait, #index_small_blocks .person_box .pedigree_image_landscape,
#index_small_blocks .person_boxF .pedigree_image_landscape, #index_small_blocks .person_boxNN .pedigree_image_landscape,
#index_small_blocks .person_box .pedigree_image_portrait_rtl, #index_small_blocks .person_boxF .pedigree_image_portrait_rtl,
#index_small_blocks .person_boxNN .pedigree_image_portrait_rtl, #index_small_blocks .person_box .pedigree_image_landscape_rtl,
#index_small_blocks .person_boxF .pedigree_image_landscape_rtl,
#index_small_blocks .person_boxNN .pedigree_image_landscape_rtl
 {
	display: inline;
	visibility: visible;
}

#calendar_page #day {
	border: 1px solid #cccccc;
}

#index_title {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', tahoma, arial, helvetica, sans-serif;
}

#index_main_blocks {
	font-family: tahoma, arial, helvetica, sans-serif;
	float: left;
}

#index_main_blocks .name2 {
	font: bold 12px tahoma, arial, helvetica, sans-serif;
	color: #003399;
}

#index_main_blocks .details2 {
	font: normal 12px tahoma, arial, helvetica, sans-serif;
	color: #333;
}

#facts, #relatives {
	width: 100%;
}

#random_picture {
	height: auto;
}

#random_picture_box {
	width: 99%;
	padding: 0;
	margin: 0;
}

#random_picture .blockheader .ltr {
	text-align: left;
}

#random_picture .blockheader .rtl {
	text-align: right;
}

#pedigree_chart {
	position: relative;
	top: -210px;
	left: 5px;
	width: 99%;
}

#pedigree_chart_rtl {
	position: relative;
	top: -210px;
	right: 5px;
	width: 99%;
}

/*-- descendancy chart specific stylesheets --*/
#descendancy_chart ul {
	background-image: url(images/vline.gif);
	background-repeat: repeat-y;
	background-position: left top;
	list-style: none;
	margin: 0px 0px 5px 15px; /* top right bottom left */
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#descendancy_chart li {
	list-style: url(images/spacer.gif);
	margin: 0px 0px 2px -15px; /* top right bottom left */
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

/*-- descendancy chart rtl specific stylesheets --*/
#descendancy_chart_rtl ul {
	background-image: url(images/vline.gif);
	background-repeat: repeat-y;
	background-position: right top;
	list-style: none;
	margin: 0px 15px 5px 0px; /* top right bottom left */
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#descendancy_chart_rtl li {
	list-style: url(images/spacer.gif);
	margin: 0px -15px 2px 0px; /* top right bottom left */
	padding: 0px 0px 0px 0px; /* top right bottom left */
}

#relationship_chart {
	position: relative;
	top: -40px;
	left: 0px;
}

#relationship_chart_rtl {
	position: relative;
	top: -40px;
	right: 10px;
}

/*-- ancestry chart specific stylesheets --*/
#ancestry_chart ul {
	background-image: url(images/vline.gif);
	background-repeat: repeat-y;
	background-position: left top;
	list-style: none;
	margin: 0px 0px 0px 15px; /* top right bottom left */
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

#ancestry_chart li {
	list-style: url(images/spacer.gif);
	margin: 0px 0px 2px -15px; /* top right bottom left */
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

/*-- ancestry chart rtl specific stylesheets --*/
#ancestry_chart_rtl ul {
	background-image: url(images/vline.gif);
	background-repeat: repeat-y;
	background-position: right top;
	list-style: none;
	margin: 0px 15px 0px 0px; /* top right bottom left */
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ancestry_chart_rtl li {
	list-style: url(images/spacer.gif);
	margin: 0px -15px 2px 0px; /* top right bottom left */
	padding: 0px 2px 0px 0px; /* top right bottom left */
}

a.link: link, a.link: active, a.link: visited {
	color: #6699ff;
	font-family: tahoma, arial, helvetica, sans-serif;
}

a {
	color: #003399;
	text-decoration: none;
}

.topheader {
	color: #808080;
	margin: 0;
	white-space: nowrap;
}

a:hover {
	color: red;
	text-decoration: none;
}

ul {
	padding-left: 15px;
	padding-right: 15px;
	margin: 8px;
}

.center {
	text-align: center;
}

table.center{
 	margin-left: auto;
 	margin-right: auto;
}

th {
	font-weight: 100;
}

.button {
	width: 60px;
}

.gedcom_table {
	border: 1px solid #84beff;
	margin: 0;
	width: 99%;
}

.person_box {
	background-color: #f0f9ff;
	border: 1px solid #84beff;
	padding: 3pt;
}

.pedigree_map .person_box {
	display: inline-block;
	width: 100%;
}

.person_boxF {
	background-color: #fff0f0;
	border: 1px solid #ff2080;
	padding: 3pt;
}

.person_boxNN {
	background-color: #fff;
	border: 1px dashed #cccccc;
	padding: 3pt;
}

.person_box:target, .news_box:target, #gedcom_stats:target {
	background-color: #ffffcc;
}

.list_table {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.list_label, .list_label_wrap {
	color: white;
	border: 1px solid #84beff;
	background-color: #95b8e0;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
	text-align: center;
	vertical-align: text-top;
}

.list_value, .list_value_wrap {
	background-color: #ecf5ff;
	border: solid #84beff 1px;
	color: #000066;
	font: 12px tahoma, arial, helvetica, sans-serif;
	vertical-align: top;
}

.list_label, .list_value {
	white-space: nowrap;
}

.list_label_wrap, .list_value_wrap {
	white-space: normal;
}

.list_item {
	font-size: 12px;
}

.facts_table {
	width: 100%;
}

.facts_table_rtl {
	width: 100%;
}

.tabs_table {
	max-width: 99%;
	margin-right: 0pt;
	margin-left: 0pt;
}

.tab_page {
	width: 100%;
}

.facts_label {
	color: white;
	border: 1px solid #3399cc;
	background-color: #95b8e0;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
	width: 20%;
	text-align: center;
}

.facts_label02, .facts_label03 {
	color: white;
	background-color: #84beff;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
	text-align: center;
}

.facts_value {
	background-color: white;
	border: 1px solid #aaccff;
	color: #000066;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
}

.facts_value02 {
	background-color: #fbfdff;
	border: 1px solid #aaccff;
	color: #000066;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 5px;
}

.facts_labelred, .facts_labelblue {
	color: #000066;
	background-color: #9dd8ff;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
	width: 20%;
	text-align: center;
}

.facts_valuered, .facts_valueblue {
	background-color: #fbfdff;
	color: #000066;
	font: 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
}

.facts_labelred, .facts_valuered {
	border: solid red 2px;
}

.facts_labelblue, .facts_valueblue {
	border: solid blue 2px;
}

.tab_cell_active {
	background: #ecf5ff url('images/th_c4.gif') no-repeat;
	font: bold 10px tahoma, arial, helvetica, sans-serif;
	border-right: 1pt solid #84beff;
	text-align: center;
	width: 20%;
	padding: 2pt;
}

.tab_cell_inactive {
	background-color: white;
	background: white url('images/th_5.gif') no-repeat;
	font-family: tahoma, arial, helvetica, sans-serif;
	border-top: none;
	border-right: 1pt solid #cccccc;
	text-align: center;
	width: 20%;
	padding: 2px;
	font-size: 10px;
}

.tab_active_bottom {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	height: 5px;
}

.tab_inactive_bottom {
	border-left: none;
	border-right: none;
	border-top: 1pt solid #cccccc;
	height: 5px;
}

.tab_inactive_bottom_right {
	border-left: none;
	border-right: none;
	border-top: 1pt solid #cccccc;
	width: 35%;
	height: 5px;
}

.tab_cell_inactive_empty {
	background-color: #efefef;
	background: white url('images/th_5.gif') no-repeat;
	border-top: none;
	border-right: 1pt solid #cccccc;
	text-align: center;
	width: 20%;
	padding: 2px;
	font-size: 10px;
}

.tab_cell_inactive_empty a {
	color: #77aaff;
}

.name1 {
	color: #000066;
	font: bold 11px tahoma, arial, helvetica, sans-serif;
}

.name1Hover {
	color: red;
	font: bold 11px tahoma, arial, helvetica, sans-serif;
}

.namered {
	border: solid red 1px;
}

.nameblue {
	border: solid blue 1px;
}

.details1 {
	color: #000066;
	font: normal 10px tahoma, arial, helvetica, sans-serif;
}

.name2 {
	color: #000066;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
}

.name2Hover {
	color: red;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
}

.details2 {
	color: #000066;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
}

.nameZoom {
	color: #000066;
	font: bold 16px tahoma, arial, helvetica, sans-serif;
}

.detailsZoom {
	font: 13px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
}

.name_head {
	color: #000066;
	font: bold 11pt tahoma, arial, helvetica, sans-serif;
	letter-spacing: .2px;
}

.date {
	color: #003399;
	font-weight: bold;
}

.label, .field {
	color: #000066;
	font: 11px tahoma, arial, helvetica, sans-serif;
}

.label {
	font-weight: bold;
}

.error {
	color: #dd0000;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
}

.largeError {
	color: #dd0000;
	font: large tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
}

.warning {
	color: red;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
}

.indent {
	padding-left: 7px;
}

.indent_rtl {
	padding-right: 7px;
}

.image {
	height: 150px;
	padding: 5px;
	border: solid black 1px;
	margin-right: 15px;
}

.gender_image {
	padding-left: 3px;
	padding-right: 3px;
	border: none;
	vertical-align: middle;
}

.pedigree_map div.pedigree_image {
	min-height: 53px;
	min-width: 53px;
	float: left;
}

.pedigree_image_portrait, .pedigree_image_landscape {
	float: left;
	max-height: 50px;
	max-width: 100px;
	border: solid black 1px;
	margin-right: 3px;
}

.pedigree_image_portrait_rtl, .pedigree_image_landscape_rtl {
	float: right;
	max-height: 50px;
	max-width: 100px;
	border: solid black 1px;
	margin-left: 3px;
}

.pedigree_form {
	width: 60px;
}

.thumbnail {
	height: auto;
	padding: 5px;
}

.icon, .adminicon {
	border: none;
	padding-left: 0pt;
	padding-right: 5pt;
}

.link {
	font-size: 11px;
	text-align: center;
}

.sublinks_table {
	border: solid #84beff 1px;
	margin: 2px;
	margin-bottom: 20px;
	padding: 5px;
}

.sublinks_cell {
	font-size: 12px;
	background-color: #95b8e0;
}

.sublinks_cell .submenuitem {
	padding: 0px;
	margin: 0px;
}

.sublinks_cell .submenuitem_hover {
	padding: 0px;
	margin: 0px;
}

.menuitem .icon {
	width: 22px;
	height: 22px;
}

.menuitem_hover .icon {
	width: 22px;
	height: 22px;
}

.sublinks_table .icon {
	vertical-align: middle;
	width: 25px;
	height: 25px;
}

.submenu .icon {
	vertical-align: middle;
	width: 22px;
	height: 22px;
}

.subheaders {
	font: bold 16px tahoma, arial, helvetica, sans-serif;
	padding: 10px;
	margin-top: 15px;
	vertical-align: bottom;
}

.age {
	font-size: 9px;
}

.parentdeath {
	border: thin solid #808080;
	padding: 1px;
}

.source_citations {
	display: none;
}

.footer {
	color: #000066;
	font: 12px tahoma, arial, helvetica, sans-serif;
	width: 99%;
	direction: ltr;
	caption-side: left;
	text-align: center;
}

.contact_links {
	text-align: center;
	font-family: tahoma, arial, helvetica, sans-serif;  /* should only be defined in style_rtl.css */
}

.hit-counter {
	background: black;
	color: white;
	font-weight: bold;
}

/* This is the original.
 * It's not used, but it's left in in case you want to go back to it. */
.flag {
	width: 15px;
	border: solid black 1px;
}

/* This one is for the currently active language. */
.activeflag {
	height: 15px;
	border: none;
	opacity: 1;
}

/* This one is for an inactive language when the mouse is hovering over it */
.brightflag {
	height: 15px;
	border: none;
	opacity: 0.75;
}

/* This one is for an inactive language when the mouse is not hovering over it */
.dimflag {
	height: 15px;
	border: none;
	opacity: 0.5;
}

.border1 {
	border: solid black 1px;
}

.header_select {
	font-size: 12px;
}

.lang_form {
	margin-top: 3px;
}

.selected-option {
	background-color: #c8e7ff;
}

.favorites_form {
	margin-top: 0px;
	font: 14px tahoma, arial, helvetica, sans-serif;
	color: white;
}

.favmenuitem {
	color: white;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
	padding: 1px;
}

.favmenuitem a {
	color: white;
}

.favmenuitem_hover {
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
	padding: 1px;
}

.favsubmenu {
	color: black;
	text-decoration: none;
	font: 11px tahoma, arial, helvetica, sans-serif;
	text-align: center;
	background-color: #ECF5FF;
	border: solid #84beff 1px;
	white-space: nowrap;
}

.favsubmenuitem, .favsubmenuitem_selected {
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	background-color: #ecf5ff;
	white-space: nowrap;
	text-align: left;
}

.favsubmenuitem_selected {
	background-color: aqua;
}

.favsubmenuitem a, .favsubmenuitem_selected a {
	color: black;
}

.favsubmenuitem_selected a {
	background-color: aqua;
}

.favsubmenuitem_hover {
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	background-color: white;
	white-space: nowrap;
	text-align: left;
}

.help {
	font-weight: bold;
	cursor: help;
}

.menuitem, .menuitem_hover {
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	clear: both;
}

.menuitem_rtl, .menuitem_hover_rtl {
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	text-align: right;
	clear: both;
}

.submenu, .submenu_rtl  {
	visibility: hidden;
	position: absolute;
	z-index: 100;
	color: black;
	text-decoration: none;
	font: 11px tahoma, arial, helvetica, sans-serif;
	background-color: #ecf5ff;
	border: solid #84beff 1px;
	white-space: normal;
}

.submenu {
	text-align: left;
	direction: ltr;
}

.submenu_rtl {
	text-align: right;
	direction: rtl;
}

.submenuitem a, .submenuitem_rtl a {
	color: #003399;
}

.submenuitem, .submenuitem_rtl {
	vertical-align: middle;
	height: 22px;
	color: black;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	border: 1pt solid #ecf5ff;
	background-color: #ecf5ff;
	white-space: nowrap;
}

.submenuitem, .submenuitem_hover {
	direction: ltr;
	text-align: left;
}

.submenuitem_rtl, .submenuitem_hover_rtl {
	direction: rtl;
	text-align: right;
}

.submenuitem .icon, .submenuitem_rtl .icon, .submenuitem_hover .icon, .submenuitem_hover_rtl .icon {
	padding: 0px 5px 0px 5px;
}

.submenuitem_hover, .submenuitem_hover_rtl {
	background-color: white;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	text-decoration: none;
	height: 22px;
	border: 1pt solid #aaccff;
	white-space: nowrap;
	color: #003399;
}

.submenuitem a, .submenuitem_rtl a, .submenuitem_hover a, .submenuitem_hover_rtl a {
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}

.menuitem a {
	color: #003399;
}

.current_day {
	font-weight: bold;
	font-size: 16px;
}

.cal_day {
	float: left;
	font-weight: bold;
}

.rtl_cal_day {
	direction: rtl;
	float: right;
	color: blue;
	font-weight: bold;
}

.helpheader {
	font: bold 16px tahoma, arial, helvetica, sans-serif;
	color: black;
}

.helpstart {
	font: bold 14px tahoma, arial, helvetica, sans-serif;
	color: blue;
	text-decoration: none;
}

.helptext {
	font: 12px tahoma, arial, helvetica, sans-serif;
	color: black;
}

.block {
	color: #030303;
	font-family: tahoma, arial, helvetica, sans-serif;
	vertical-align: top;
}

.news_box {
	background-color: #f0f9ff;
	border: 1px solid #84beff;
	padding: 3pt;
}

.news_title {
	color: black;
	font-size: 1.10em;
	font-weight: bold;
}

.news_date {
	font-family: tahoma, arial, helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

.timeline_table {
}

#timeline_chart {
	position: relative;
	top: 50px;
	left: 0px;
}

#timeline_chart_rtl {
	position: relative;
	top: 50px;
	right: 0px;
}

.person0 {
	background-color: #ecf5ff;
	border: outset #84beff 1px;
	vertical-align: top;
}

.person1 {
	background-color: #aaffaa;
	border: outset #aaffaa 1px;
	vertical-align: top;
}

.person2 {
	background-color: #ffaaaa;
	border: outset #ffaaaa 1px;
	vertical-align: top;
}

.person3 {
	background-color: #aaaadd;
	border: outset #5555ff 1px;
	vertical-align: top;
}

.person4 {
	background-color: #ff5555;
	border: outset #ff5555 1px;
	vertical-align: top;
}

.person5 {
	background-color: #55ff55;
	border: outset #55ff55 1px;
	vertical-align: top;
}

.listlog {
	line-height: 20pt;
	color: #555555;
	font-family: tahoma, arial, helvetica, sans-serif;
}

.blanco {
	color: white;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
}

input, button, textarea {
	border-top-color: white;
	border-left-color: white;
	border-right-color: #000066;
	border-bottom-color: #000066;
	border-top-width: 1px;
	border-left-width: 1px;
	font: 12px tahoma, arial, helvetica, sans-serif;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

input, textarea {
	padding-left: 3px;
	padding-right: 3px;
}

select {
	border-top-color: #84beff;
	border-left-color: #84beff;
	border-right-color: #84beff;
	border-bottom-color: #84beff;
	border-top-width: 1px;
	border-left-width: 1px;
	font: 12px tahoma, arial, helvetica, sans-serif;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

form {
	font: 12px tahoma, arial, helvetica, sans-serif;
}

h2 {
	color: #000066;
	font: bold 18px tahoma, arial, helvetica, sans-serif;
}

h4 {
	color: #000066;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
}

.formField {
	font: 12px tahoma, arial, helvetica, sans-serif;
}

@media all {
 	a img {
	 	color: inherit;
		border: none;
	}
}

.starredname {
	text-decoration: underline;
}

.search_hit {
	background-color: yellow;
	color: black;
}

.title {
	font: 20px tahoma, arial, helvetica, sans-serif;
}

.details_label {
	font-weight: bold;
}

/* Styles for the option boxes */

/* Style for the top and bottom bar */
.topbottombar {
	color: white;
	background-color: #84beff;
	font: bold 12px tahoma, arial, helvetica, sans-serif;
	padding: 4px;
	text-align: center;
}

/* Style for the subbar */
.subbar {
	background-color: white;
	border: 1pt solid #aaccff;
	color: #000066;
	font: 11px tahoma, arial, helvetica, sans-serif;
	padding: 3px;
	white-space: nowrap;
	vertical-align: top;
}

/* Style for the descriptionbox */
.descriptionbox {
	color: white;
	border: 1px solid #84beff;
	background-color: #95b8e0;
	font: 12px tahoma, arial, helvetica, sans-serif;
	vertical-align: top;
	white-space: nowrap;
	padding: 3px;
}

/* Style for the optionbox */
.optionbox {
	background-color: #ecf5ff;
	border: solid #84beff 1px;
	color: #000066;
	font: 11px tahoma, arial, helvetica, sans-serif;
	vertical-align: top;
	white-space: normal;
	padding: 3px;
}

.vmiddle {
	vertical-align: middle
}

/* Colors */
.red {
	color: red;
}

.rela {
	opacity: 0.67;
	color: black;
}

/* Text direction */
.ltr {
	text-align: left;
}

.rtl {
	text-align: right;
	direction: rtl;
}

/* Width settings */
.width10 {
	width: 10%;
}

.width20 {
	width: 20%;
}

.width25 {
	width: 25%;
}

.width33 {
	width: 33%;
}

.width30 {
	width: 30%;
}

.width40 {
	width: 40%;
}

.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}

.width66 {
	width: 66%;
}

.width70 {
	width: 70%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.width90 {
	width: 90%;
}

.width100 {
	width: 100%;
}

/* Font sizes */
.font11 {
	font-size: 11px;
}

.font9 {
	font-size: 9px;
}

/* Chart styles */
.pedigree_table {
	margin: 0;
}

/* Message box */
.messagebox {
	background-color: #dfeeff;
}

/* Change indicators */
.change_new {
	border: solid blue 2px;
}

.change_old {
	border: solid red 2px;
}

.door {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.door dd {
	margin: 2px 2px 2px 2px;
	padding: 2px 6px 2px 6px;
	height: 100%; float: left;
	font-weight: bold;
	display: none;
}

.note_details {
	display: none;
}

a.showit {
	position: relative;
	z-index: 24;
	color: black;
	text-decoration: none;
}

a.showit:hover {
	z-index: 25;
	background-color: #ffff9b;
	cursor: crosshair;
}

a.showit span {
	display: none;
}

a.showit:hover span {
	display: block;
	position: absolute;
	top: 22px;
	left: 0px;
	width: 225px;
	border-style: outset;
	border-left: 15px outset #1f1f1f;
	border-top: 2px solid #1f1f1f;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	padding: 3px;
	background: #4f4f4f;
	color: white;
	font: 15px tahoma, arial, helvetica, sans-serif;
	text-align: left;
	opacity: .85;
	z-index: 5;
	white-space: normal;
}

.lifespan_people span:first-letter {
   font: bold 16px tahoma, arial, helvetica, sans-serif;
	font-variant: small-caps;
	padding: 1px;
}

.lifespan_outer {
	position: relative;
	width: 99.5%;
	height: 600px;
	overflow: hidden;
	border: solid blue 1px;
}

.lifespan_outer a {
	color: black;
}

.lifespan_outer a:hover {
	color: red;
	text-decoration: none;
}

.lifespan_timeline {
	position: absolute;
	width: 100%;
	left: -10px;
	top: -65px;
	z-index: 2;
	background-color: white
}

.lifespan_people {
	position: absolute;
	width: 500px;
	left: -10px;
	top: -60px;
	z-index: 1;
}
.iwstyle {
	width:360px;
	/*background-color: #FFFFFF;*/
}
.iwstyle a {
}
.iwstyle a:hover {
}

#map_nav {
	position: relative;
	top: -484px;
	left: 101%;
}

#tree_nav {
	position: relative;
	top: -584px;
	left: 90%;
	z-index: 100;
}

#map_type {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 10px;
	list-style: none;
}

#map_type li {
	display: block;
	width: 70px;
	text-align: center;
	padding: 2px;
	border: 1px solid black;
	cursor: pointer;
	float: left;
	margin-left: 2px;
}

#map_type li.non_active {
	background: white;
	color: black;
	font-weight: normal;
}

#map_type li.active {
	background: gray;
	color: white;
	font-weight: bold;
}

#map_type li:hover {
	background: #ddd;
}

/* Tag Cloud styles*/
.tag_cloud_table {
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.tag_cloud {
	font-family: tahoma, arial, helvetica, sans-serif;
	text-align: justify;
	padding: 10px 5px 10px 15px; /* top right bottom left */
}

.tag_cloud_sub {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 8px;
	color:#808080;
}
/* End of Tag Cloud styles*/

/* Autocomplete styles*/
.ac_input {
	background-color: #EEE8AA;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 14px;
	overflow: hidden;
}

.ac_loading {
	background: white url(../../images/indicator.gif) right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
/* End of Autocomplete styles*/

/* Flyout menu Styles */
.flyout {
	color:#000066;
	text-align: left;
	margin-top: -20px;
	right: 210px;
	padding: 3px;
}
.flyoutrtl {
	color:#000066;
	text-align: right;
	margin-top: -20px;
	left: 210px;
	padding: 3px;
}
/* End of Flyout Menu styles*/

.nowrap {
	white-space: nowrap;
}

.wrap {
	white-space: normal;
}

ul.clist {
	list-style-image: none;
	margin: 0px;
}

.menu_separator img {
	height: 3px;
	width: 8em;
}

.statistics_chart {
	text-align: center;
}

.gchart{
	border: 1px solid #84beff;
}

.execution_stats {
	padding-top: 12px;
	text-align: center;
}

.largechars {
	font-size: larger;
}